* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #1f2937;
}

.headerIndex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.divLogo .imgLogo {
  width: 130px;
  height: auto;
  text-align: center;
  margin-left: 100px;
}

.navIdioma {
  display: flex;
  gap: 1rem;
  margin-right: 100px;
}

.es {
  font-size: 50px;
  cursor: pointer;
}

.active {
  border-bottom: 2px solid black;
}

.us {
  font-size: 50px;
  cursor: pointer;
}

.presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
}

.data > h1, h2 {
  font-size: 3.125rem;
  color: #449DD1;
}

.data > p {
  font-size: 1.125rem;
  font-weight: 500;
  color: white;
  margin-top: 2rem;
}

.nets {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.icons {
  display: inline-block;
  background-color: white;
  margin: 0px 20px;
  width: 55px;
  height: 55px;
  text-decoration: none;
  border-radius: 100px;
  transition: transform 0.4s ease-out;
}

.icons:hover {
  transform: scale(1.1);
}

.icons > * {
  font-size: 20px;
  margin-top: 17px;
  text-align: center;
  color: #144999;
}

.aboutMe {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

.divAboutMe {
  width: 50%;
  font-weight: 700;
}

.divAboutMe > h6 {
  font-size: 18px;
  color: #004aad;
}
.divAboutMe > h2 {
  font-size: 50px;
  color: #449DD1;
}
.divAboutMe > p {
  font-size: 17px;
  font-weight: 400;
  color: white;
  margin-top: 1rem;
}

.certificate {
  color: white;
  font-weight: 700;
}

.certificate:hover {
  text-decoration: underline;
}

.divImg {
  padding: 20px;
  border-radius: 10px;
  background-color: #1f2937;
  box-shadow: 1px 7px 7px rgba(0, 0, 0, 0.2);
}
.divImg img {
  width: 340px;
  height: auto;
  border-radius: 10px;
}

.skills {
  height: 100vh;
}

.divSkills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divSkills > h6 {
  font-size: 18px;
  color: #004aad;
}

.divSkills > h2 {
  font-size: 50px;
  color: #449DD1;
  margin-bottom: 50px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 50px;
  -moz-column-gap: 70px;
  column-gap: 70px;
  margin-bottom: 200px;
}

.grid-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f0f1e0;
  box-shadow: 1px 7px 7px rgba(0, 0, 0, 0.2);
  width: 275px;
  height: 125px;
  border-radius: 10px;
  transition: transform 0.4s ease-out;
}

.grid-item:hover {
  transform: scale(1.1);
}

.grid-item > h5 {
  font-size: 20px;
  font-weight: 700;
}

.grid-item > img {
  width: 80px;
  height: 80px;
}

.contact {
  height: 100vh;
  width: 50%;
  margin: 0 auto;
}

.divContacto {
  text-align: center;
}
.divContacto h6 {
  font-size: 18px;
  color: #004aad;
}
.divContacto h2 {
  font-size: 50px;
  color: #449DD1;
  margin-bottom: 70px;
}

.form1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f0f1e0;
  border-radius: 10px;
}

.form1 h5 {
  text-align: center;
  font-size: 17px;
  margin-top: 20px;
}

.form1 input {
  height: 50px;
  padding: 2px;
  margin: 20px 30px;
} 

.form1 textarea {
  resize: none;
  padding: 2px;
  margin: 20px 30px;
}
.form1 button {
  margin: 20px auto;
  cursor: pointer;
  font-size: 20px;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 10px;
  background-image: radial-gradient(circle at 14.64% -11.24%, #d050ed 0, #b848ef 16.67%, #9b41f1 33.33%, #783cf2 50%, #4439f3 66.67%, #0038f5 83.33%, #0039f6 100%);
}

.proyectos {
  height: 100vh;
}
.proyectos .divProyectos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.proyectos .divProyectos h6 {
  font-size: 18px;
  color: #004aad;
}
.proyectos .divProyectos h2 {
  font-size: 50px;
  color: #449DD1;
}
.proyectos .divProyectos .grid-container2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  -moz-column-gap: 30px;
  column-gap: 30px;
}
.proyectos .divProyectos .grid-container2 .grid-item2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f1e0;
  box-shadow: 1px 7px 7px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 20px;
  margin-top: 50px;
  position: relative;
}
.proyectos .divProyectos .grid-container2 .grid-item2 img {
  width: 350px;
  height: auto;
  border-radius: 15px;
}
.proyectos .divProyectos .grid-container2 .grid-item2 .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  cursor: pointer;
  color: white;
  background-image: radial-gradient(circle at 14.64% -11.24%, #d050ed 0, #b848ef 16.67%, #9b41f1 33.33%, #783cf2 50%, #4439f3 66.67%, #0038f5 83.33%, #0039f6 100%);
  border-radius: 10px;
}
.proyectos .divProyectos .grid-container2 .grid-item2 .info:hover {
  opacity: 1;
}
.proyectos .divProyectos .grid-container2 .grid-item2 .info h3 {
  font-size: 40px;
  text-align: center;
}
.proyectos .divProyectos .grid-container2 .grid-item2 .info a {
  background-color: white;
  margin-top: 10px;
  border-radius: 5px;
  padding: 7px 20px;
  text-decoration: none;
  color: black;
  font-weight: 700;
  transition: transform 0.3s ease-out;
}
.proyectos .divProyectos .grid-container2 .grid-item2 .info a:hover {
  transform: scale(1.1);
}

.exito {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.exito .divExito {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.exito .divExito svg {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}
.exito .divExito h5 {
  color: #449DD1;
  font-size: 30px;
}